{{ define "body" }}
<script> 
jQuery(document).ready(function($) {
    var animation = false;
    var availableCommands = [
        "all", "whois", 'social', 'work', 'education',
        'skills', 'softskills', 'languages', 'projects',
        {{ if .Site.Params.certifications }} 'certifications', {{ end }}
        {{ if .Site.Params.startxLocation }} 'startx', {{ end }}
        {{ if .Site.Params.exitLocation }} 'exit', {{ end }}
        {{ if .Site.Params.misc }} '{{ .Site.Params.misc.commandName | default "misc"}}', {{ end }}
        {{ if not .Site.Params.hideSource }} 'source' {{ end }}
    ];

    function parse(val) {
        return val ? JSON.parse(val) : '';
    }

    $('body').terminal(function(command, term) {

    /* Functions to be called by commands */
    function whois () {
        term.echo ("");
        {{ with .Site.Params.whois }} 
            term.echo ("[[b;grey;]Name:]\t\t\t" + parse({{ .name | jsonify }}));
            term.echo ("[[b;grey;]Profession:]\t\t" + parse({{ .profession | jsonify }}));
            term.echo ("[[b;grey;]Location:]\t\t" + parse({{ .location | jsonify }}));
            {{ if .email }}
                term.echo ("[[b;grey;]Email:]\t\t\t" + parse({{ .email | jsonify }}));
            {{ end }}
            {{ if .homelink }}
                term.echo ("[[b;grey;]Homepage:]\t\t" + parse({{ .homelink | jsonify }}));
            {{ end }}
            {{ if .description }}
                term.echo ("");
                term.echo(parse({{ .description | jsonify }}));
            {{ end }}
        {{ end }}
        term.echo ("");
    }

    function social () {
        term.echo("");
        {{ if .Site.Params.hideSocialName }}
            {{ with .Site.Params.social }}
                {{ range . }} 
                    term.echo(parse({{ .url | jsonify }}));
                {{ end }}
            {{ end }}
        {{ else }}
            {{ with .Site.Params.social }}
                {{ range . }}
                    term.echo(parse({{ .name | jsonify }}) + ": " + parse({{ .url | jsonify }}));
                {{ end }}
            {{ end }}
        {{ end }}
        term.echo("");
    }
	    
    function certifications () {
        term.echo("");
        {{ with .Site.Params.certifications }}
            {{ range . }}
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .certName | jsonify }}) + "]");
                term.echo(parse({{ .date | jsonify }}));
                {{ if .company }}
                    term.echo(parse({{ .company | jsonify }}));
                {{ end }}
                {{ if .description }}
                    term.echo(parse({{ .description | jsonify }}));
                {{ end }}
                term.echo("-------------------- ");
                term.echo("");
            {{ end }}
        {{ end }}
    }
	    
    function work () {
        term.echo("");
        {{ with .Site.Params.work }}
            {{ range . }}
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .jobTitle | jsonify }}) + "]");
                term.echo(parse({{ .company | jsonify }}));
                {{ if .location }}term.echo(parse({{ .location | jsonify }}));{{ end }}
                term.echo(parse({{ .date | jsonify }}));
                term.echo ("");
                term.echo(parse({{ .description | jsonify }}));
                term.echo("-------------------- ");
                term.echo("");
            {{ end }}
        {{ end }}
    }

    function education () {
        term.echo("");
        {{ with .Site.Params.education }}
            {{ range . }}
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .courseName | jsonify }}) + "]");
                term.echo(parse({{ .date | jsonify }}));
                {{ if .description }}
                    term.echo(parse({{ .description | jsonify }}));
                {{ end }}
                term.echo("-------------------- ");
                term.echo("");
            {{ end }}
        {{ end }}
    }

    function skills () {
        term.echo(" ");
        {{ with .Site.Params.skills }}
            {{ range . }}
                var bar_length = Math.round({{ .percentage }} / 10);
                var bar_filled = Array(bar_length + 1).join("&#9611;");
                var bar_blank= Array(11 - bar_length).join("&#9617;");
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .name | jsonify }}) + ":]\n" +
                        bar_filled + bar_blank + " " +
                        {{ .percentage }} +"%");
                {{ if .description }}
                    term.echo(parse({{ .description | jsonify }}));
                {{ end }}
                term.echo ("");
            {{ end }}
        {{ end }}
    }

    function softskills () {
        term.echo("");
        {{ with .Site.Params.softskills }}
            {{ range . }}
                var bar_length = Math.round({{ .percentage }} / 10);
                var bar_filled = Array(bar_length + 1).join("&#9611;");
                var bar_blank= Array(11 - bar_length).join("&#9617;");
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .name | jsonify }}) + ":]\n" +
                       bar_filled + bar_blank + " " +
                       {{ .percentage }} +"%");
                {{ if .description }}
                    term.echo(parse({{ .description | jsonify }}));
                {{ end }}
                term.echo ("");
            {{ end }}
        {{ end }}
    }
      
    function languages () {
        term.echo("");
        {{ with .Site.Params.languages }}
            {{ range . }}
                var bar_length = Math.round({{ .percentage }} / 10);
                var bar_filled = Array(bar_length + 1).join("&#9611;");
                var bar_blank= Array(11 - bar_length).join("&#9617;");
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .name | jsonify }}) + ":]\n" +
                        "" + bar_filled + bar_blank + 
                        " " + {{ .percentage }} +"%");
                {{ if .description }}
                    term.echo(parse({{ .description | jsonify }}));
                {{ end }}
                term.echo("");
            {{ end }}
        {{ end }}
    }

    function projects () {
        term.echo("");
        {{ with .Site.Params.projects }}
            {{ range . }}
                term.echo("[[b;" + ({{ .color | jsonify }} ? parse({{ .color | jsonify }}) : "grey") + ";]" + parse({{ .title | jsonify }}) + "]");
                term.echo(parse({{ .date | jsonify }}));
                {{ if .link }}term.echo(parse({{ .link | jsonify }}));{{ end }}
                {{ if .description }}
                    term.echo(parse({{ .description | jsonify }}));
                {{ end }}
                term.echo("-----------------------");
                term.echo("");
            {{ end }}
        {{ end }}
    }

    function misc () {
        term.echo ("");
        term.echo("[[b;" + ({{ .Site.Params.misc.titleColor | jsonify }} ? parse({{ .Site.Params.misc.titleColor | jsonify }}) : "teal") + ";]" + parse({{ .Site.Params.misc.title | jsonify }}) + "]\n");
        term.echo("[[;" + ({{ .Site.Params.misc.contentColor | jsonify }} ? parse({{ .Site.Params.misc.contentColor | jsonify }}) : "orange") + ";]" + parse({{ .Site.Params.misc.content | jsonify }}) + "]");
        term.echo ("");
    }

    function help () {
        term.echo("\n[[b;white;]Available commands:]\n" +
                  "\n" + availableCommands.join(' ') + '\n');
    }

    function source() {
        term.echo("        _______            \n"+
                  "       |       |           \n"+
                  "       |       |           \n"+
                  "       |_______|_______    \n"+
                  "               |_______|_______    \n"+
                  "               |       |   \n"+
                  " ______________|_______|   \n"+
                  "|      |       |       |   \n"+
                  "|      |       |       |   \n"+
                  "|______|_______|_______|   \n"+
                  "[[;red;]May the source be with you]\n"+
                  "[[;grey;]https://github.com/4s3ti/terminalcv\n");
    }

    function progress(percent, width) {
        var size = Math.round(width*percent/100);
        var left = '', taken = '', i;
        for (i=size; i--;) {
            taken += '=';
        }
        if (taken.length > 0) {
            taken = taken.replace(/=$/, '>');
        }
        for (i=width-size; i--;) {
            left += ' ';
        }
        return '[' + taken + left + '] ' + percent + '%';
    }

    function loading () {
        var i = 0, size = 30;
        prompt = term.get_prompt();
        string = progress(0, size);
        term.set_prompt(progress);
        animation = true;
        (function loop() {
            string = progress(i++, size);
            term.set_prompt(string);
            if (i < 100) {
                timer = setTimeout(loop, 10);
            } else {
                term.echo(progress(i, size) + ' [[b;green;]OK]').set_prompt(prompt);
                animation = false;
            }
        })();
    }

        /* Functions End */
        commands = command.split(/[ ]+/);
        switch(commands[0]) {
            case 'whois':
                whois();
                break;
            case 'social':
                social();
                break;
            case 'work':
                work();
                break;
            case 'education':
                education();
                break;
            case 'skills':
                skills();
                break;
            case 'softskills':
                softskills();
                break;
            case 'languages':
                languages();
                break;
            case 'projects':
                projects();
                break;
            case 'certifications':
                certifications();
                break;
            case '{{ .Site.Params.misc.commandName | default "misc"}}':
                misc();
                break;
            case 'help':
                help();
                break;
            case 'all':
                whois();
                social();
                work();
                education();
                skills();
                softskills();
                languages();
                projects();
                certifications();
                {{ if .Site.Params.misc }}
                    misc();
                {{ end }}
                {{ if not .Site.Params.hideSource }}
                    source();
                {{ end }}
                break;
            {{ if .Site.Params.startxLocation }}
            case 'startx':
                term.echo("loading ...")
                loading();
                setTimeout(function(){window.location = parse({{ .Site.Params.startxLocation | jsonify }})}, 2000);
                break;
            {{ end }}
            case ':(){:|:&};:':
            case 'source':
                source();
                break;
            {{ if .Site.Params.exitLocation }}
            case 'exit':
                term.echo("terminating ... ")
                loading();
                setTimeout(function(){window.location = parse({{ .Site.Params.exitLocation | jsonify }})}, 2000);
                break;
            {{ end }}
            default:
                term.echo("\nunknown command: " + command + "\n" +
                          "please type 'help' for a list of available commands\n");
        }
    }, {
        prompt: "[[;" + ({{ .Site.Params.promptColor | jsonify }} ? parse({{ .Site.Params.promptColor | jsonify }}) : "green") + ";]" + parse({{ .Site.Params.prompt | default "guest@otaviocoelho" | jsonify }}) + "]" + "[[;" + ({{ .Site.Params.promptSimbolsColor | jsonify }} ? parse({{ .Site.Params.promptSimbolsColor | jsonify }}) : "green") + ";]" + parse({{ .Site.Params.promptSimbols | default "$" | jsonify }}) + "] ",
        greetings: "[[b;" + ({{ .Site.Params.greetingColor | jsonify }} ? parse({{ .Site.Params.greetingColor | jsonify }}) : "white") + ";]" + parse({{ .Site.Params.greeting | jsonify }}) + "]",
        keydown: function(e, term) {
            if (animation) {
                if (e.which == 68 && e.ctrlKey) { // CTRL+D
                    clearTimeout(timer);
                    animation = false;
                    term.echo(string + ' [[b;red;]FAIL]')
                    .set_prompt(prompt);
                }
                return false;
            }
        },
        autocompleteMenu: true,
        completion: availableCommands
    });
});
</script>
{{ end }}
